html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background: linear-gradient(to right, #5210e3 100%, #4612ba 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url('../img/avion-logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 75%;
  height: 75%;
  border-radius: rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 3rem;
}

a {
  text-decoration: none;
}

/* Titulo */
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.div-span {
  position: relative;
}

.div-span span{
  display: inline-block;
  width: 1.5rem;
  height: 3rem;
  background-color: #4612ba;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.div-span span:last-of-type {
  background-color: #cab4f6;
  position: absolute;
  left: 1.5rem;
}

.titulo h1 {
  color: beige;
  text-align: center;
}

/* contenedor del formulario */
.container-form {
  width: 50%;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 1rem;
}

.registrarse h2 {
  margin: 0;
  color: #5210e3;
}

.registrarse p {
  margin-top: .5rem;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 25rem;
  background-color: #fff;
  cursor: pointer;
  padding: .5rem 0;
  border-radius: 1rem;
}

.btn img {
  margin-right: 2rem;
}

/* separador */
.separador {
  text-align: center;
  margin: 1rem 0;
}

.separador span::before,
.separador span::after {
  content: " -- ";
}

/* Formulario */
.form {

}

.entrada-texto,
.btn-enviar {
  border: none;
  margin: 1rem 0;
  padding: .5rem;
  width: 100%;
  border-radius: 1rem;
}

.entrada-texto {
  background-color: #f1f1f1;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.entrada-texto::placeholder {
  color: #000;
  opacity: 1;
}

.btn-enviar {
  background-color: #4612ba;
  color: beige;
  cursor: pointer;
}

.form p {
  margin: 0;
}

.btn-ayuda {
  align-self: end;
  margin: 2rem;
  padding: .5rem 2rem;
  background-color: beige;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-ayuda:hover {
  background-color: #ccc;
  color: #4612ba;
}
