// Calculadora
.titulo {
    margin-top: 1rem;

    h1 {
        margin: 0;
        padding: 2rem;
        background-color: #c56110;
    }
}

@keyframes brillo {
    0% {
        color: gold; /* Color dorado */
        text-shadow: 0 0 10px gold; /* Sombra dorada */
    }
    100% {
        color: #fff; /* Color dorado */
        text-shadow: 0 0 10px #fff; /* Sombra dorada */
    }
}

.brillar {
    animation: brillo 1s infinite; /* Duración de la animación y repetición infinita */
}

.seccion-calculadora {
    background-color: #a1a1a1;
    max-width: 50rem;
    margin: 0 auto;
}

.formulario {
    max-width: 35rem;
    margin: 0 auto 2rem;
}
.formulario fieldset {
    margin-bottom: 2rem;
    border: none;
}

.formulario-propina label,
.formulario-propina input {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}
.formulario-propina label {
    color: #f1f1f1;
}

.botones {
    display: flex;
    flex-direction: column;
}
@media (min-width: 480px) {
    .botones {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }
}
.btn {
    padding: 1rem 2rem;
    margin: .5rem auto;
    width: 95%;
}

.div-pagar {

}
.grid-pagar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3rem;
    border: 1px solid #c1c1c1;

    .texto-precio {
        font-style: italic;
        color: #fff;
    }
    .precio {
        text-align:center;
        color: #330101;
    }
}